<html>
    <head>
        <title>Eleventy + NetlifyCMS Example</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>

    <body>
        <h1>
            11ty & NetlifyCMS sitting in a very strong tree
        </h1>
        {{content | safe}}
    </body>   
</html>
