<html>
    <head>
        <title>Eleventy + NetlifyCMS Example</title>
    </head>

    <body>
        <h1>
            11ty & NetlifyCMS sitting in a very strong tree
        </h1>
        {{content | safe}}
    </body>   
</html>
